
<html>
<head>
	<meta charset="utf-8">
	<title>Twit</title>
	<link rel="stylesheet" type="text/css" href="twit.css">
	<script>
		function clicked(){
			var link = document.createElement('http://twitter.com/home?status=')
			window.open()
		}

	</script>
</head>
<body>
	<form action="/tweet" name="button" method="post" accept-charset="utf-8">
		<textarea name="tweet" placeholder="put your tweet here"></textarea><br>
		<input type="submit" value="Tweet it"">	
	</form>

</body>
</html>